body{
    place-items: center;
    display: grid;
    background-image:url(../img/2.jpg);
}
form{
    padding: 80px;
    margin-top: 10%;
}
#p1{
    color: rgb(164, 29, 29);
    background-color: aqua;
    font-family: cursive;
    font-size: x-large;
    border: 2px solid black;
    box-shadow: 3px 3px #888888;
    padding: 10px;
    margin-bottom: 10px;
}
#p2{ 
    border: 2px solid black;
    box-shadow: 2px 2px #888888;
    padding: 8px;
    margin-bottom: 10px;
}
#p3{
    border: 2px solid black;
    box-shadow: 2px 2px #888888;
    padding: 8px;
    margin-bottom: 10px;
    margin-left: 5px;
}
#p4{ color: rgb(255, 0, 0);
    background-color: rgb(255, 255, 0); 
    font-family: cursive;
    border: 2px solid black;
    box-shadow: 2px 2px #888888;
    padding: 5px;
    margin-bottom: 10px;
}
#p4:hover{
    color: rgb(238, 255, 0);
    background-color: rgb(255, 0, 0);
}
#resultContainer{
    font-family: cursive;
    font-size: large;
    text-shadow: 1px 1px rgb(242, 113, 0);
}
#p5{
    font-family: cursive ;
    text-decoration: underline;
}
@media only screen and (max-width: 555px) {
   #p1{
    font-size: small;
    padding: 5px;
    margin: -2px;
   }
   #p3{
    margin-left: 1px;
   }
  }